<table id="apps-table" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
	        <th>Application ID</th>
	        <th>Name</th>
	        <th>User</th>
	        <th>Queue</th>
	        <th>State</th>
	        <th>Start Time</th>
	        <th>Elapsed Time</th>
        </tr>
	</thead>
	<tbody>
		{{#each model as |yarnapp|}}
			<tr>
                <td><a href="yarnApp/{{yarnapp.id}}">{{yarnapp.id}}</a></td>
                <td>{{yarnapp.appName}}</td>
                <td>{{yarnapp.user}}</td>
                <td>{{yarnapp.queue}}</td>
                <td>{{yarnapp.state}}</td>
                <td>{{yarnapp.startTime}}</td>
                <td>{{yarnapp.elapsedTime}}</td>
            </tr>
		{{/each}}
	</tbody>
</table>

{{simple-table table-id="apps-table"}}
{{outlet}}

